#contact {
    background-color: #D5F4FF;
}
#contact {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #46D3FA 100%);
}
.contact-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    min-height: 80vh;
    align-items: center;
}

.contact-card {
    background: white;
    display: flex;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: 2px solid #005b8e; /* กรอบสีน้ำเงินตามรูป */
    overflow: hidden;
}

.contact-image {
    width: 40%;
    background: #a8dff5;
    overflow: hidden;
 
}
.contact-image img 
{ width: 100%;
    height: 100%;       
    object-fit: cover; 
    display: block;   }

.contact-form {
    width: 60%;
    padding: 40px;
}
.contact-form h2 { color: #333; margin-bottom: 20px; }
.contact-form h2 span { color: #005b8e; }

.form-group { margin-bottom: 15px; }
.form-row { display: flex; gap: 10px; margin-bottom: 15px; }
.form-row input { width: 50%; }

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Prompt', sans-serif;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background: #005b8e;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.btn-submit:hover { background: #004470; }

@media screen  and (max-width: 768px) {
    #contact {
        background: #D5F4FF;
        border-radius: 10px;
     }
     
}